// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
    .container
        a.navbar-brand.text-uppercase.fw-bold.d-lg-none(href='index.html') La cuisine d'Helena
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='index.html') Acceuil
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='desserts.html') Desserts
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='buffetsale.html') Buffet Salé
                //- li.nav-item.px-lg-4
                //-     a.nav-link.text-uppercase(href='store.html') Qui suis-je